.Riverside{
position:relative;
  z-index:-100;
  height:500px;
  width:100%px;
  padding: 1em;
  
  background:url(http://www.riverside.com.tw/templates/riverside/images/bg2.gif);
  
  border-radius:0.5em;
  box-shadow: rgb(189, 189, 189) 0px 1px 5px 0px;
}

.menu{
  display: inline-block;
}
.menu>li{
  /* 讓 <li> 能橫著排（如 inline 元素之 normal flow） */
  display: inline-block;
  /* 設定 absolute positioning 之 .submenu 的位置參考 */
  position: relative;

  /* 外觀樣式 */
  border: 1px solid green;
  border-right: 0;
  padding: .2em 1em;
}
/* 外觀樣式 */
.menu>li:last-child{
  border-right: 1px solid green;
}

.submenu{
  /* 讓 .submenu 變成 absolute positioning */
  position: absolute;
  /* 隱藏 .submenu */
  display: none;

  /* 外觀樣式 */
  left: -1px; top: 100%; width: 100%;
  text-align: center;
  background: #3c3;
  border: 1px solid green;
}

.menu>li:hover .submenu{
  /* 滑鼠移到 .nav 的 li 上時，顯示 .submenu */
  display: block;
}
/* 外觀樣式 */
.submenu li{
  padding: .5em 0;
  color: black;
  cursor: pointer;
}
/* 外觀樣式 */
.submenu li:hover{
  color: white;
}



.meta{
  height:700px;
  width:100%px;
  padding: 1em; background:url(http://www.riverside.com.tw/templates/riverside/images/about/livehouseheader.gif) no-repeat;
  
  border-radius:0.5em;
  box-shadow: rgb(189, 189, 189) 0px 1px 5px 0px;
}
.meta h1,h2{
  float:right;
}
.rightCol{
  width:95%;
  padding: 0.8em;
  background-color: rgb(150, 150, 150);
  box-sizing:border-box;
}
.cafa{
  height:1050px;
  width:100%px;
  padding: 1em; background:url(http://www.riverside.com.tw/templates/riverside/images/about/cafeheader.gif) no-repeat;
  
  border-radius:0.5em;
  box-shadow: rgb(189, 189, 189) 0px 1px 5px 0px;
}
.cafa h1{
  float:right;
}
.lightview{
  float:right;
}




.globalfooter_bottomcap{
  position: relative;
  padding:1em;
  margin:2em;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 15%     15%     15%     15% /     2%     2%     2%     2%;
}
.globalfooter_bottomcap:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0px;
    right: 0px;
    width: 15%;
    height: 15%;
    border-radius: 0 20% 0 0;
    box-shadow: 10px -10px 10px rgba(0,0,0,0.5);
    -webkit-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
     -moz-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
     -ms-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
     -o-transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
     transform: rotate(2deg) translate(-14px,20px) skew(-20deg);
    }
.globalfooter_bottomcap:after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0px;
    left: 0px;
    width: 15%;
    height: 15%;
    border-radius: 20% 0 0 0;
    box-shadow: -10px -10px 10px rgba(0,0,0,0.5);
    -webkit-transform: rotate(2deg) translate(14px,20px) skew(20deg);
     -moz-transform: rotate(2deg) translate(14px,20px) skew(20deg);
     -ms-transform: rotate(2deg) translate(14px,20px) skew(20deg);
     -o-transform: rotate(2deg) translate(14px,20px) skew(20deg);
     transform: rotate(2deg) translate(14px,20px) skew(20deg);
    }
