div{
  width: 160px;
  height: 70px;
  background: url(https://www.google.com.tw/search?biw=1920&bih=917&tbm=isch&sa=1&q=%E6%B2%B3%E5%B2%B8%E7%95%99%E8%A8%80+%E8%A5%BF%E9%96%80&oq=%E6%B2%B3%E5%B2%B8%E7%95%99%E8%A8%80+%E8%A5%BF%E9%96%80&gs_l=img.3..0i24l4.18639.19724.0.20290.6.6.0.0.0.0.42.184.6.6.0....0...1c..37.img..5.1.42.26Ksh2Ah0xw#facrc=_&imgdii=_&imgrc=Vy2NnR7XcOC1hM%253A%3Bo2cO45pQprOQZM%3Bhttps%253A%252F%252Ffbcdn-profile-a.akamaihd.net%252Fhprofile-ak-prn2%252Ft1%252Fs160x160%252F1559798_10151832991421402_790876731_a.jpg%3Bhttps%253A%252F%252Fzh-tw.facebook.com%252FRiverside.Music%253Fref%253Dstream%2526hc_location%253Dstream%3B160%3B160) left center no-repeat;
}
